@font-face {
  font-family: "Omori";
  src: url("/files/fonts/omori.ttf") format("truetype");
}

@font-face {
  font-family: "SOMETHING";
  src: url("/files/fonts/omori-scary.ttf") format("truetype");
}

* {
  font-family: "Omori";
}

html {
  height: 100%;
  background-color: rgb(10, 10, 10);
  background-image: url("/files/images/main.jfif");
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}

.grabber {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin: 0;
  overflow: hidden; 
}

.neko-box {
  position: relative;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.195);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px); /* support for other browsers lel*/
  color: white;
  border: 7px solid rgba(0, 0, 0, 0.05);
  box-shadow: 0 0 20px 3px black;
  border-radius: 0.4em;
  padding: 5em;
  min-width: 19%;
  scale: 85%;
  max-width: 30%;
  word-wrap: break-word;
  overflow: auto;
}

.neko-box::-webkit-scrollbar {
  display: none;
}

.button-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 35px;
}

.neko-back-button {
  background-color: black;
  border: 2px solid white;
  font-size: 15px;
  color: white;
  display: none;
  position: absolute;
  width: 5em;
  height: 3em;
  top: 10px;
  left: 10px;
}

#bana-img-pfp {
  height: 195px;
  width: 195px;
  margin-top: 0.15em;
  border-radius: 15px;
  outline: 2.5px solid white;
}

@media screen and (min-width: 1251px) and (min-height: 1001px) {
  .neko-box {
    scale: 100%;
    max-width: 22%;
  }
}

@media screen and (max-width: 850px), (max-height: 1000px) {
  .neko-box {
    min-width: 50%;
    margin-bottom: 50px;
    scale: 75%;
  }

  footer {
    scale: 50%;
    transform: translateY(65%);
  }
}

@media screen and (max-width: 500px), (max-height: 500px) {
  .neko-box {
    min-width: 155%;
    scale: 20%;
    margin-top: 3em;
  }

  footer {
    display: none; /** make invisible for now **/
  }
}


.neko-title {
  font-size: 2.55em;
}

.neko-text {
  font-size: 1.7em;
}

.neko-button {
  color: white;
  cursor: pointer;
  margin: 5.25px;
  padding: 5px 5px;
  font-size: 20px;
  width: 100px;
  background-color: black;
  border: 3px solid white;
  position: relative;
}

.neko-button:hover::before {
  content: url('https://static.wikia.nocookie.net/omori/images/f/fe/Textbox_Hand.png');
  filter: drop-shadow(0 0 15px black);
  display: inline-block;
  position: absolute;
  right: 24.5%;
  top: -95%;
  scale: 25%;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: -1;
  padding: 10px;
  font-weight: 500;
  text-align: center;
  text-shadow: 0 0 5px black !important;
}

.topbox {
  border: none;
  border-top: 2.35px solid rgb(187, 106, 0);
  border-bottom: 2.35px solid rgb(187, 106, 0);
  background-color: rgba(176, 103, 8, 0.45);
  margin-top: 1px;
  text-align: center;
  padding: 3.5px;
  font-size: 100%;
  margin-bottom: auto;
}

a {
  color: white;
}

svg {
  margin-right: 5px;
  margin-top: 5px;
}